
@breakpointTablet: ~"(min-width:641px) and (max-width: 1023px)";
@breakpointMobile: ~"(max-width:640px)";
@import "maps.less";
@import "variavel.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #colors[backColor];
    li {
        list-style: none;
    }

}

.container {
    max-width: 1024px;
    width: @width;
    margin: 0 auto;
    
    @media @breakpointTablet {
        max-width: 80%;

        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }

    @media @breakpointMobile {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}
}

header {
    background-color: #colors[headColor];
    position: sticky;
    top: 0;
    left: 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    .menu {
        display: flex;
        
        li{
            font-weight: bold;
            margin-left: 24px;

            a {
                color:#colors[baseColor];
                text-decoration: none;
            }
        }
    }
}

section {
    padding: 56px 0;
    
    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: @width;

        .product-item{
            h4{
                margin-top: 24px;
            }
            p{
                margin-top: 8px;
                margin-bottom: 8px;
            }
            
        }
        
        .product-item img {
            width: @width;
            border-radius: 16px;
        }
        .product-button {
            display: block;
            background-color: #colors[buttonColor];
            color: #colors[baseColor];
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;
            text-decoration: none;
            &:hover{
                background-color: #colors[hoverButtonColor];
            }
        }
    }
    .social-media{
        display: flex;
        justify-content: center;
        max-width: 320px;
        margin: 0 auto;
        li{
            list-style: none;
            a{
                margin: 24px 32px;
            }
        }
    }
}









