
@media screen and (min-width:641px) and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
        background-color: aquamarine;
    }
}

@media screen and (max-width: 640px) {
    .products {
        display: block;
        background-color: aqua;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}